

.btnsCadastro {
    float: right;
    margin-top: 50px;
}

#item{
    width:  '1000px';
    margin: 5em;
    margin-left: 20em;
}

img{
    width: 50;
    height: 50;
    object-fit: cover;
}

#valorTotal{
    text-align: right;
    font-weight: bold;
    margin-top: auto;
}