.clienteForm {
    margin: 0 50em 0 10em;
    /*background-color: rgb(234, 174, 161);*/
}

.btnsCadastro {
    float: right;
    margin-top: 50px;
}

#pedido{
    width:  '1000px';
    margin: 5em;
}

#valorTotal{
    text-align: right;
    font-weight: bold;
    margin-top: auto;
}